### Assigning Values to Variables

In [1]:
counter = 100
name = 'Ali'
height = 185.5
print(counter)
print(name)
print(height)

100
Ali
185.5

### Multiple Assignment

In [2]:
a = b = c = 1
print(a,b,c)
a, b, c = 1,2,"john"
print(a,b,c)

1 1 1
1 2 john

## Standard Data Types

    Numbers
    String
    Tuple
    Set
    List
    Dictionary

### Numbers

In [4]:
var_1 = 1
var_2 = 10
var_1

1

In [5]:
del var_1

In [6]:
var_1

NameError: name 'var_1' is not defined

In [10]:
var_1 = 10              # int
var_2 = 5192436134343   # long
var_3 = 0.0             # float
var_4 = 3.14j           # complex
type(var_4)
print(type(var_4))

<class 'complex'>

In [11]:
print(var_1,var_4)

10 3.14j

### Strings

In [12]:
_str = 'Hello World!'

print(_str)              # Prints complete string
print(_str[0])           # Prints first character of the string
print(_str[2:5])         # Prints characters starting from 3rd to 5th
print(_str[2:])          # Prints string starting from 3rd character
print(_str * 2)          # Prints string two times
print(_str + "TEST")     # Prints concatenated string
print(len(_str))         # Prints strings length

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST
12

In [13]:
student_grade = 19
student_ssn = '000120230'
print('student grade is {}'.format(student_grade))
print('student with {0} ssn got {1}'.format(student_ssn,student_grade))

student grade is 19
student with 000120230 ssn got 19

### Tuples

In [16]:
_tuple = ( 'abcd', 786 , 2.23, 'Ali', 70.2  )
tiny_tuple = (123, 'Ali')

print(_tuple)              # Prints complete tuple
print(_tuple[0])           # Prints first element of the tuple
print(_tuple[1:3])         # Prints elements starting from 2nd till 3rd 
print(_tuple[2:])          # Prints elements starting from 3rd element
print(tiny_tuple * 2)      # Prints tuple two times
print(_tuple + tiny_tuple) # Prints concatenated tupless
print(len(_tuple))         # Prints tuples length
print(_tuple[0][2])

('abcd', 786, 2.23, 'Ali', 70.2)
abcd
(786, 2.23)
(2.23, 'Ali', 70.2)
(123, 'Ali', 123, 'Ali')
('abcd', 786, 2.23, 'Ali', 70.2, 123, 'Ali')
5
c

In [23]:
not_a_tuple=(10, 20)
print(type(not_a_tuple) is tuple)
a = [2, 3]
b = [2, 3, 4]
print(a in b)

True
False

In [24]:
type(not_a_tuple)

tuple

In [32]:
a_tuple=(10,'ali', 20.12)
type(a_tuple) == tuple

True

In [28]:
a_tuple[0] = 15

TypeError: 'tuple' object does not support item assignment

In [30]:
del a_tuple

In [36]:
element_index = a_tuple.index(10)
print('Index of element 10 is {}'.format(element_index))

Index of element 10 is 100

### Sets

In [34]:
_set = {'Ali', 45, 5, 5, 5, 5, 15}
tiny_set = {'Ahmad', 45}

print(_set)                    # Prints complete set
print('Ali' in _set)           # Prints first element of the set
print(_set | tiny_set)         # Prints concatenated sets
print(len(_set))               # Prints sets length

{45, 'Ali', 5, 15}
True
{5, 'Ahmad', 'Ali', 45, 15}
4

In [35]:
_set[0]

TypeError: 'set' object does not support indexing

In [37]:
_set.add('Pooya')
print(_set)

{45, 'Ali', 5, 'Pooya', 15}

### Data Type Conversion

In [38]:
str_to_int = int('20')
print(str_to_int, type(str_to_int))

float_to_int = int(10.36)
print(float_to_int, type(float_to_int))

int_to_float = float(10)
print(int_to_float, type(int_to_float))

int_to_str = str(10)
print(int_to_str, type(int_to_str))

set_to_tuple = tuple({10,20,20,30})
print(set_to_tuple, type(set_to_tuple))

tuple_to_set = set((10,20,))
print(tuple_to_set, type(tuple_to_set))

20 <class 'int'>
10 <class 'int'>
10.0 <class 'float'>
10 <class 'str'>
(10, 20, 30) <class 'tuple'>
{10, 20} <class 'set'>

_:)_